.loginForm {
  display: flex;
  flex-direction: column;
}
.loginForm label {
  display: block;
  margin-bottom: 1rem;
}

.loginForm fieldset {
  width: max-content;
  margin: 0 auto;
  border: none;
}